# Environment variables
.env

# Instance folder with databases
instance/
justification_reports/

# Temporary/deleted files folder
/delme/

# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/
