<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Notes</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>

    <fieldset>
        <div class="form-group">
            <label>Form filled by</label>
            <div id="user-timestamp-info" class="readonly-field" style="margin-bottom: 20px;"></div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="other-preferences">Other preferences or notes</label>
                <textarea id="other-preferences" name="other_preferences" rows="4" placeholder="e.g., I prefer an insurer with a good mobile app." style="font-size: 0.75rem;" ></textarea>
            </div>
        </div>
    </fieldset>
    </details>
</body>
</html>
